#header{
    width: 100%;
    height: 77px;
    background: white;
    border: 1px solid black;
 }
.logo{
    /* width:370px;
    height:77px; */
    width:20%;
    border: 1px solid #ff0000;
    float: left;
    padding:0px 30px;
}
.header_left{
    width:45%;
    height: 77px;
    border: 1px solid green;
    float: left;
    line-height: 77px;
}
.logo>div>a>span{

    background: yellow;
    line-height: 77px;
    float: right;
} 
.header_right{
    width:25%;
    height: 77px;
    border: 1px solid yellow;
    float: right;
}
.top{
    border: 1px solid red;
    float: left;
}
.bottom{
    border: 1px solid darkblue;
    float:right;
}
.logo>a>img{
    width:300px; //调整图像大小
}